// Couleurs
$primary-color-100: #F5F5F5;
$primary-color-200: #dfebe2;
$primary-color-300: #B9CDBF;
$primary-color-500: #7C9076;
$primary-color-900: #4C5948;
$secondary-color: #F3F1DF;
$text-color: #2C2C2C;
$text-placeholer: #919191;
$warning-color: rgb(192, 40, 40);

// Transition
$transition-speed: 0.3s;

// Espacement
$primary-gap: 25px;
$secondary-gap: 15px;
