// Couleurs
$primary-color-100: #F5F5F5;
$primary-color-500: #7C9076;
$primary-color-900: #4C5948;
$secondary-color: #F3F1DF;
$text-color: #2C2C2C;

// Transition
$transition-speed: 0.3s;

// Espacement
$primary-gap: 25px;
$secondary-gap: 15px;
