@import '../../styles/variables';

.AddWorkout {
    background-color: $primary-color-100;
    border: 1px solid $primary-color-900;
    position: relative;
    padding: 20px 20px 0;
    margin-bottom: 20px;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 5px;
        left: 5px;
        width: 100%;
        height: 100%;
        border: 1px solid $primary-color-900;
    }

    &-form {
        position: relative;

        .line {
            position: absolute;
            z-index: 0;
            width: 1px;
            height: calc(100% - 1px);
            background-color: $primary-color-300;
        }
    }

    &-inputContainer {
        position: relative;
        z-index: 200;
        display: flex;
        gap: 11px;
        margin-left: -9px;
        margin-bottom: 20px;

        &-item {
            flex: 1;
            position: relative;

            .containerCheckbox {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }

            label {
                position: relative;
                z-index: 200;
                left: 7px;
                color: $text-color;
                font-weight: 700;
                text-transform: uppercase;
                background-color: $primary-color-100;
                padding: 2px 10px 3px;
                transition: 0.2s;

                &.dataSet {
                    left: 0;
                    padding: 2px 0 3px;
                }

                &:not([for="checkboxRest"]) {
                    position: absolute;
                }

                &[for="checkboxRest"] {
                    position: relative;
                    left: 0;
                    padding: 0 10px;
                }
            }

            input:not([type="checkbox"]) {
                margin-top: 9px;
                height: 40px;
                width: 100%;
                border-radius: 8px;
                border: 1px solid $primary-color-900;
                background-color: $primary-color-100;
                text-align: center;
                font-size: 16px;
                font-style: italic;
                color: $text-color;

                &::placeholder {
                    color: $text-placeholer;
                    font-size: 14px;
                }

                &[type="date"] {
                    display: flex;
                    justify-content: center;
                }

                &.warning {
                    position: relative;
                    border: 1px solid $warning-color;
                    animation: warningAnimation 0.3s linear 1;

                    @keyframes warningAnimation {
                        0% { left: 0 }
                        10% { left: 3px }
                        30% { left: -3px }
                        50% { left: 3px }
                        70% { left: -3px }
                        50% { left: 3px }
                        100% { left: 0 }
                    }
                }
            }

            input[type="checkbox"] {
                border: 1px solid $primary-color-900;
                margin: 0;
                height: 16px;
                width: 16px;
            }

            p {
                font-size: 14px;
            }

            p:first-of-type {
                margin-top: 20px;
                padding: 17px 0 0;
            }

            .info {
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: 12px;
                text-transform: uppercase;
                color: $primary-color-500;

                span {
                    display: inline-block;
                    height: 1px;
                    width: 50px;
                    background-color: $primary-color-300;
                }
            }
        }
    }

    &-buttons {

        &-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $primary-gap;
            margin-bottom: 20px;
        }

        &-item {
            cursor: pointer;
            position: relative;
            // margin: auto;
            height: 60px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid $primary-color-900;
            background-color: $secondary-color;

            &.primary {
                padding: 0 32px;
                flex-grow: 1;
                max-width: 250px;
            }

            &.secondary {
                width: 60px;
                background-color: $primary-color-100;
            }

            &.save {
                flex-grow: 1;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 5px;
                top: 5px;
                width: 100%;
                height: 100%;
                border: 1px solid $primary-color-900;
            }
        }
    }
}